Joining the dataframe sales data with the product inventory:

There is no original produc inventory resource so it is going to be created with python from the original products and their Unit Prices

After creating the product inventory file it will be joined with the sales_transformed.csv file

In [13]:
#Imports 
import pandas as pd

In [14]:
#Creation of sales dataframe
df_sales_raw=pd.read_csv('../data/sales_transformed.csv', usecols=lambda col: not col.startswith('Unnamed'))

In [15]:
df=df_sales_raw.groupby("Product")["Unit Price"].mean()
df

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Unit Price, dtype: float64

In [16]:

# Define the data as a list of dictionaries with the Product Category and estimated Unit Cost for each Prduct
data = [
    {"Product": "Macbook Pro Laptop", "Product Category": "Laptops and Computers", "Unit Cost (€)": 1200},
    {"Product": "LG Washing Machine", "Product Category": "Home Appliances", "Unit Cost (€)": 300},
    {"Product": "USB-C Charging Cable", "Product Category": "Accessories", "Unit Cost (€)": 2},
    {"Product": "27in FHD Monitor", "Product Category": "Computer Monitors", "Unit Cost (€)": 100},
    {"Product": "AA Batteries (4-pack)", "Product Category": "Batteries", "Unit Cost (€)": 2},
    {"Product": "Bose SoundSport Headphones", "Product Category": "Headphones and Earbuds", "Unit Cost (€)": 60},
    {"Product": "AAA Batteries (4-pack)", "Product Category": "Batteries", "Unit Cost (€)": 2},
    {"Product": "ThinkPad Laptop", "Product Category": "Laptops and Computers", "Unit Cost (€)": 1000},
    {"Product": "Lightning Charging Cable", "Product Category": "Accessories", "Unit Cost (€)": 3},
    {"Product": "Google Phone", "Product Category": "Smartphones", "Unit Cost (€)": 250},
    {"Product": "Wired Headphones", "Product Category": "Headphones and Earbuds", "Unit Cost (€)": 20},
    {"Product": "Apple Airpods Headphones", "Product Category": "Headphones and Earbuds", "Unit Cost (€)": 100},
    {"Product": "Vareebadd Phone", "Product Category": "Smartphones", "Unit Cost (€)": 100},
    {"Product": "iPhone", "Product Category": "Smartphones", "Unit Cost (€)": 500},
    {"Product": "20in Monitor", "Product Category": "Computer Monitors", "Unit Cost (€)": 80},
    {"Product": "34in Ultrawide Monitor", "Product Category": "Computer Monitors", "Unit Cost (€)": 350},
    {"Product": "Flatscreen TV", "Product Category": "Televisions", "Unit Cost (€)": 300},
    {"Product": "27in 4K Gaming Monitor", "Product Category": "Computer Monitors", "Unit Cost (€)": 400},
    {"Product": "LG Dryer", "Product Category": "Home Appliances", "Unit Cost (€)": 400}
]

# Create the DataFrame
df_product_inventory = pd.DataFrame(data)

In [17]:
#Merge of two dataframes
df_merged=pd.merge(df_sales_raw,df_product_inventory,on='Product',how='left')

In [18]:
df_merged.sample()

,Order ID,Product,Quantity Ordered,Order Date,Purchase Address,Month,Sales,Hour,Unit Price,Address_Number,Address_Street,Address_City,Address_State,Address_Zip_Code,Product Category,Unit Cost (€)
22827,317582,Bose SoundSport Headphones,1,2019-12-21 12:02:00,"728 Willow St, Seattle, WA 98101",12,99.99,12,99.99,728,Willow St,seattle,WA,98101,Headphones and Earbuds,60

Conversion of the Address_State acronim. There has been built a csv with the translation of the State acronims and its going to be merged to the main df

In [19]:
df_states = pd.read_csv('../data/States.csv', sep=";", encoding="latin-1", usecols=lambda col: not col.startswith('Unnamed'))

In [20]:
df_states.head()

         Sate Address_State
0     Alabama            AL
1      Alaska            AK
2     Arizona            AZ
3    Arkansas            AR
4  California            CA

In [21]:
df_merged=pd.merge(df_merged,df_states,how='left',on='Address_State')
df_merged.head()

,Order ID,Product,Quantity Ordered,Order Date,Purchase Address,Month,Sales,Hour,Unit Price,Address_Number,Address_Street,Address_City,Address_State,Address_Zip_Code,Product Category,Unit Cost (€),Sate
0,295665,Macbook Pro Laptop,1,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,0,1700.00,136,Church St,new york city,NY,10001,Laptops and Computers,1200,Nueva York
1,295666,LG Washing Machine,1,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,7,600.00,562,2nd St,new york city,NY,10001,Home Appliances,300,Nueva York
2,295667,USB-C Charging Cable,1,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,18,11.95,277,Main St,new york city,NY,10001,Accessories,2,Nueva York
3,295668,27in FHD Monitor,1,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,15,149.99,410,6th St,san francisco,CA,94016,Computer Monitors,100,California
4,295669,USB-C Charging Cable,1,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,12,11.95,43,Hill St,atlanta,GA,30301,Accessories,2,Georgia

In [23]:
#Export the df_merged to csv
df_merged.to_csv('../data/DataMerged.csv')